In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer: A Database is a organized collection of structured information or data. SQL is a programming language that is used to create and manage databases.
and NoSQL is a type of database that is not based on SQL.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer: 
DDL stands for Data defination language.
DDL is used to create , modify and delete data in a database.
CREATE is used to create a new table in a database,
DROP is used to delete a table in a database,
ALTER is used to modify a table in a database and
TRUNCATE is used to create a new table in a database.

#CREATE

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

#ALTER

ALTER ALTER Student_info
ADD CGPA number;

#TRUCNCATE

TRUNCATE TABLE Student_info;

#DROP

DROP TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Answer:
DML stands for Data manipulation language.
DML is used to insert, update and delete data in a database.
INSERT is used to insert data in a table,
UPDATE is used to update data in a table and
DELETE is used to delte data in a table.

#INSERT
INSERT INTO students('stu_id' int, 'stu_name',varchar(20),
'city' varchar(20))
VALUES('1','Nirmit','Gorakhpur');

#UPDATE 
UPDATE students
SET due_fees = 200000
WHERE stu_name = 'Nirmit';

#DELETE
DELETE FROM students
WHERE stu_id = '001';

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Answer:
DQL stands for Data querry language.
DQL is used to select data from a database.
SELECT is used to retrieve data from a database.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
answer:
Primary key is a column that is used to identify a row in a table.
Foreign key is a column that is used to identify a row in another table.

In [ ]:
Q6. Write a python code to connect MySQL to python.
Explain the cursor() and execute() method.
Answer:
import mysql.connector
mydb = mylsql.connector.connect(
host = "localhost",
user = "abc",
password = "password",
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
    
the cursor() method is used to get the cursor object.
the execute() method is used to execute the query.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Answer:Order of execution of SQL clauses in an SQL query is as follows:
1.FROM - Choose and join tables to get base data.
2.WHERE - filters base data. 
3.GROUP BY - Aggregates the base data.
4.HAVING - Filters the aggregate data 
5.SELECT - R
6.ORDER BY -
7.LIMIT -